.pagebuilder {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "navigation"
    "content"
    "sidebar"
    "footer";
}

.pagebuilder>.header {
  grid-area: header;
}

.pagebuilder>.content {
  grid-area: content;
}

.pagebuilder>.navigation {
  grid-area: navigation;
}

.pagebuilder>.sidebar {
  grid-area: sidebar;
}

.pagebuilder>.footer {
  grid-area: footer;
}

@media (min-width: 768px) {
  .pagebuilder {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "header header"
      "navigation navigation"
      "content sidebar"
      "content sidebar"
      "footer footer";
  }

  .pagebuilder>.navigation>ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .pagebuilder {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "header header header"
      "navigation content sidebar"
      "navigation content sidebar"
      "footer footer footer";
  }

  .pagebuilder>.navigation>ul {
    flex-direction: column;
  }
}