@import '../../../theme.css';
.Option {
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.375rem;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  border-color: var(--border-color);
}
.Option.primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.Option.primary:hover {
  background-color: var(--primary-color-light);
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: var(--border-color);
}
.Option.primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: var(--border-color);
}
.Option.primary:active {
  background-color: var(--primary-color-light);
  border-color: var(--border-color);
}
.Option.secondary {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
.Option.secondary:hover {
  background-color: var(--secondary-color-light);
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: var(--border-color);
}
.Option.secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: var(--border-color);
}
.Option.secondary:active {
  background-color: var(--secondary-color-light);
  border-color: var(--border-color);
}
.Option[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
