@import '../../../theme.css';
.Option {
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.375rem;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.Option.primary {
  background-color: rgb(38, 38, 38);
  color: rgb(229, 229, 229);
}
.Option.primary:hover {
  background-color: ligthen(rgb(38, 38, 38), 30%);
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: rgb(114, 113, 113);
}
.Option.primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: rgb(114, 113, 113);
}
.Option.primary:active {
  background-color: black;
  border-color: rgb(114, 113, 113);
}
.Option.secondary {
  background-color: rgb(217, 217, 217);
  color: rgb(229, 229, 229);
}
.Option.secondary:hover {
  background-color: #cccccc;
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: rgb(114, 113, 113);
}
.Option.secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: rgb(114, 113, 113);
}
.Option.secondary:active {
  background-color: #cccccc;
  border-color: rgb(114, 113, 113);
}
.Option[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
