@import '../../../theme';

.Label {
  font-weight: 500;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text-color-dark);
}
.Label:hover {
  color: var(--text-color-dark);
}

