@use '../../theme' as theme;


.Table {
  margin: 0;
  width: 100%;
  height: auto;
  text-align: center;
  border-collapse: collapse;
}

.THead {
  margin: 0;
  width: 100%;
  height: auto;
}

.TBody {
  margin: 0;
  width: 100%;
  height: auto;
}

.Tr {
  margin: 0;
  width: 100%;
  height: auto;
}

.Th, .Td {
  margin: 0;
  width: auto;
  height: auto;
  padding: 10px;
  border: 1px solid #ccc;
}