@use '../../theme' as theme;

.Grid {
  display: grid;
  gap: 1rem;
  justify-content: auto;
  align-content: auto;
  grid-auto-flow: dense;
  grid-template-areas: none;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.GridItem {
  grid-column-start: auto;
  grid-column-end: auto;
  grid-row-start: auto;
  grid-row-start: auto;
  grid-area: auto;
}