@use '../../theme' as theme;

.Flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  order: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-self: auto;
  align-items: flex-start;
  align-content: flex-start;
  gap: normal;
  row-gap: normal;
  column-gap: normal;
  
}

.FlexItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  order: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: flex-start;
  align-self: auto;
  align-items: flex-start;
  align-content: flex-start;
  gap: normal;
  row-gap: normal;
  column-gap: normal;
  
  & > * {
    display: block;
  }
}