.gfm {
  white-space: normal !important;
  word-wrap: normal !important;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  color: #000000;
}

.gfm h1,
.gfm h2,
.gfm h3,
.gfm h4,
.gfm h5,
.gfm h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.gfm h1 {
  font-size: 2em;
}
.gfm h2 {
  font-size: 1.5em;
}
.gfm h3 {
  font-size: 1.17em;
}
.gfm h4 {
  font-size: 1em;
}
.gfm h5 {
  font-size: 0.83em;
}
.gfm h6 {
  font-size: 0.67em;
}
.gfm p {
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0;
}

.gfm img {
  zoom: normal;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.gfm img:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gfm p:has(> :nth-child(2)) > img {
  width: calc(100% / 2 - 3px);
}

.gfm p:has(> :nth-child(3)) > img {
  width: calc(100% / 3 - 3px);
}

.gfm p:has(> :nth-child(4)) > img {
  width: calc(100% / 4 - 4px);
}

.gfm a {
  color: #0366d6;
  text-decoration: none;
}
.gfm a:hover {
  color: #0366d6;
  text-decoration: underline;
}
.gfm ul,
.gfm ol {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 2em;
}
.gfm li {
  margin-bottom: 0.5em;
}
.gfm code {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 0.2em 0.4em;
}
.gfm pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 0.9em;
  line-height: 1.4;
  margin-bottom: 1em;
  padding: 1em;
  overflow-x: auto;
  white-space: pre-wrap;
}

.gfm table {
  width: 100%;
  border-collapse: collapse;
}

.gfm table,
.gfm th,
.gfm td {
  height: 16px;
  border: 1px solid black;
}
