@import '../../../theme';

.Heading {
  font-weight: 500;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.Heading.h1 {
  font-size: 1.75rem;
}
.Heading.h2 {
  font-size: 1.5rem;
}
.Heading.h3 {
  font-size: 1.25rem;
}
.Heading.h4 {
  font-size: 1rem;
}
.Heading.h5 {
  font-size: 0.75rem;
}
.Heading.h6 {
  font-size: 0.5rem;
}
.Heading:hover {
  color: #737373;
}

