@use '../../../theme' as theme;

.Heading {
  font-weight: 500;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;

  &.h1 {
    font-size: 1.75rem;
  }

  &.h2 {
    font-size: 1.50rem;
  }

  &.h3 {
    font-size: 1.25rem;
  }

  &.h4 {
    font-size: 1rem;
  }

  &.h5 {
    font-size: 0.75rem;
  }

  &.h6 {
    font-size: 0.5rem;
  }
  
  &:hover {
    color: lighten(theme.$primary-color, 30%);
  }

}