@import '../../theme.css';

.Message {
  border-radius: 0.375rem;
}

.Message > p {
  margin: 0px;
}

.MessageTypeSuccess {
  background-color: var(--secondary-color);
  color: var(--text-color-mix);
}

.MessageTypeError {
  background-color: var(--secondary-color-dark);
  color: var(--text-color-mix);
}

.MessageTypeInfo {
  background-color: var(--secondary-color);
  color: var(--text-color-mix);
}