.Message {
  background: #d2d5ff;
  color: #000;
  border-radius: 0.375rem;
  & > p {
    margin: 0px;
  }
}

.MessageTypeSuccess {
  background: #8effa7;
  color: #000;
}

.MessageTypeError {
  background: #5e1d21;
  color: #fff;
}