@import '../../theme';

.List {
  font-weight: 500;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style-position: inside;
}

.ListItem {
  font-weight: 500;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.ListItem:hover {
  color: var(--focus-color);
}
