$primary-color: #4A5568;
$secondary-color: #CBD5E0;
$border-color: #c9c8c8;
$focus-color: rgba(66, 153, 225, 0.5);
$active-color: #1A202C;

.List {
  font-weight: 500;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  list-style-type: disc;
  list-style-position: inside;
}

.ListItem {
  font-weight: 500;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  
  &:hover {
    color: lighten($primary-color, 30%);
  }
}