$primary-color: rgba(38, 38, 38, 1);
$secondary-color: rgb(217, 217, 217);
$border-color: rgb(114, 113, 113);
$focus-color: rgba(141, 141, 141, 0.5);
$text-color: rgba(229, 229, 229, 1);
$active-color: #1A202C;