$primary-color: rgba(38, 38, 38, 1) !default;
$secondary-color: rgb(217, 217, 217) !default;
$border-color: rgb(114, 113, 113) !default;
$focus-color: rgba(141, 141, 141, 0.5) !default;
$text-color: rgba(229, 229, 229, 1) !default;
$active-color: #1A202C !default;