/* $primary-color: rgba(38, 38, 38, 1) !default;
$secondary-color: rgb(217, 217, 217) !default;
$border-color: rgb(114, 113, 113) !default;
$focus-color: rgba(141, 141, 141, 0.5) !default;
$text-color: rgba(229, 229, 229, 1) !default;
$active-color: #1A202C !default; */
:root {

  --primary-color: hsla(0, 0%, 15%, 1);
  --primary-color-h: 0;
  --primary-color-s: 0%;
  --primary-color-l: 15%;
  --primary-color-a: 1;
  --primary-color-contrast-threshold: 60%;
  --primary-color-darken-percentage: 15%;
  --primary-color-lighten-percentage: 20%;
  --primary-color: hsla(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l), var(--primary-color-a));
  --primary-color-light: hsla(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) + var(--primary-color-lighten-percentage)), var(--primary-color-a));
  --primary-color-dark: hsla(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) - var(--primary-color-darken-percentage)), var(--primary-color-a));
  --primary-color-complement: hsla(calc(var(--primary-color-h) + 180), var(--primary-color-s), var(--primary-color-l), var(--primary-color-a));
  --primary-color-triad1: hsla(calc(var(--primary-color-h) + 120), var(--primary-color-s), var(--primary-color-l), var(--primary-color-a));
  --primary-color-triad2: hsla(calc(var(--primary-color-h) + 240), var(--primary-color-s), var(--primary-color-l), var(--primary-color-a));
  --primary-color-switch: calc((var(--primary-color-l) - var(--primary-color-contrast-threshold)) * -100);
  --primary-color-mix: hsla(0, 0%, var(--primary-color-switch), var(--primary-color-a));

  --secondary-color: hsl(0, 0%, 85%, 1);
  --secondary-color-h: 0;
  --secondary-color-s: 0%;
  --secondary-color-l: 85%;
  --secondary-color-a: 1;
  --secondary-color-contrast-threshold: 60%;
  --secondary-color-darken-percentage: 15%;
  --secondary-color-lighten-percentage: 20%;
  --secondary-color: hsla(var(--secondary-color-h), var(--secondary-color-s), var(--secondary-color-l), var(--secondary-color-a));
  --secondary-color-light: hsla(var(--secondary-color-h), var(--secondary-color-s), calc(var(--secondary-color-l) + var(--secondary-color-lighten-percentage)), var(--secondary-color-a));
  --secondary-color-dark: hsla(var(--secondary-color-h), var(--secondary-color-s), calc(var(--secondary-color-l) - var(--secondary-color-darken-percentage)), var(--secondary-color-a));
  --secondary-color-complement: hsla(calc(var(--secondary-color-h) + 180), var(--secondary-color-s), var(--secondary-color-l), var(--secondary-color-a));
  --secondary-color-triad1: hsla(calc(var(--secondary-color-h) + 120), var(--secondary-color-s), var(--secondary-color-l), var(--secondary-color-a));
  --secondary-color-triad2: hsla(calc(var(--secondary-color-h) + 240), var(--secondary-color-s), var(--secondary-color-l), var(--secondary-color-a));
  --secondary-color-switch: calc((var(--secondary-color-l) - var(--secondary-color-contrast-threshold)) * -100);
  --secondary-color-mix: hsla(0, 0%, var(--secondary-color-switch), var(--secondary-color-a));

  --border-color: hsl(0, 0%, 45%);
  --border-color-h: 0;
  --border-color-s: 0%;
  --border-color-l: 45%;
  --border-color-a: 1;
  --border-color-contrast-threshold: 60%;
  --border-color-darken-percentage: 15%;
  --border-color-lighten-percentage: 20%;
  --border-color: hsla(var(--border-color-h), var(--border-color-s), var(--border-color-l), var(--border-color-a));
  --border-color-light: hsla(var(--border-color-h), var(--border-color-s), calc(var(--border-color-l) + var(--border-color-lighten-percentage)), var(--border-color-a));
  --border-color-dark: hsla(var(--border-color-h), var(--border-color-s), calc(var(--border-color-l) - var(--border-color-darken-percentage)), var(--border-color-a));
  --border-color-complement: hsla(calc(var(--border-color-h) + 180), var(--border-color-s), var(--border-color-l), var(--border-color-a));
  --border-color-triad1: hsla(calc(var(--border-color-h) + 120), var(--border-color-s), var(--border-color-l), var(--border-color-a));
  --border-color-triad2: hsla(calc(var(--border-color-h) + 240), var(--border-color-s), var(--border-color-l), var(--border-color-a));
  --border-color-switch: calc((var(--border-color-l) - var(--border-color-contrast-threshold)) * -100);
  --border-color-mix: hsla(0, 0%, var(--border-color-switch), var(--border-color-a));

  --text-color: hsl(0, 0%, 100%, 1);
  --text-color-h: 0;
  --text-color-s: 0%;
  --text-color-l: 100%;
  --text-color-a: 1;
  --text-color-contrast-threshold: 60%;
  --text-color-darken-percentage: 15%;
  --text-color-lighten-percentage: 20%;
  --text-color: hsla(var(--text-color-h), var(--text-color-s), var(--text-color-l), var(--text-color-a));
  --text-color-light: hsla(var(--text-color-h), var(--text-color-s), calc(var(--text-color-l) + var(--text-color-lighten-percentage))), var(--text-color-a);
  --text-color-dark: hsla(var(--text-color-h), var(--text-color-s), calc(var(--text-color-l) - var(--text-color-darken-percentage)), var(--text-color-a));
  --text-color-complement: hsla(calc(var(--text-color-h) + 180), var(--text-color-s), var(--text-color-l), var(--text-color-a));
  --text-color-triad1: hsla(calc(var(--text-color-h) + 120), var(--text-color-s), var(--text-color-l), var(--text-color-a));
  --text-color-triad2: hsla(calc(var(--text-color-h) + 240), var(--text-color-s), var(--text-color-l), var(--text-color-a));
  --text-color-switch: calc((var(--text-color-l) - var(--text-color-contrast-threshold)) * -100);
  --text-color-mix: hsla(0, 0%, var(--text-color-switch), var(--text-color-a));

  --focus-color: hsla(0, 0%, 55%, 0.502);
  --focus-color-h: 0;
  --focus-color-s: 0%;
  --focus-color-l: 55%;
  --focus-color-a: 0.502;
  --focus-color-contrast-threshold: 60%;
  --focus-color-darken-percentage: 15%;
  --focus-color-lighten-percentage: 20%;
  --focus-color: hsla(var(--focus-color-h), var(--focus-color-s), var(--focus-color-l), var(--focus-color-a));
  --focus-color-light: hsla(var(--focus-color-h), var(--focus-color-s), calc(var(--focus-color-l) + var(--focus-color-lighten-percentage)), var(--focus-color-a));
  --focus-color-dark: hsla(var(--focus-color-h), var(--focus-color-s), calc(var(--focus-color-l) - var(--focus-color-darken-percentage))), var(--focus-color-a);
  --focus-color-complement: hsla(calc(var(--focus-color-h) + 180), var(--focus-color-s), var(--focus-color-l), var(--focus-color-a));
  --focus-color-triad1: hsla(calc(var(--focus-color-h) + 120), var(--focus-color-s), var(--focus-color-l), var(--focus-color-a));
  --focus-color-triad2: hsla(calc(var(--focus-color-h) + 240), var(--focus-color-s), var(--focus-color-l), var(--focus-color-a));
  --focus-color-switch: calc((var(--focus-color-l) - var(--focus-color-contrast-threshold)) * -100);
  --focus-color-mix: hsla(0, 0%, var(--focus-color-switch), var(--focus-color-a));

  --active-color: hsl(220, 26%, 14%);
  --active-color-h: 0;
  --active-color-s: 26%;
  --active-color-l: 14%;
  --active-color-a: 1;
  --active-color-contrast-threshold: 60%;
  --active-color-darken-percentage: 15%;
  --active-color-lighten-percentage: 20%;
  --active-color: hsla(var(--active-color-h), var(--active-color-s), var(--active-color-l), var(--active-color-a));
  --active-color-light: hsla(var(--active-color-h), var(--active-color-s), calc(var(--active-color-l) + var(--active-color-lighten-percentage)), var(--active-color-a));
  --active-color-dark: hsla(var(--active-color-h), var(--active-color-s), calc(var(--active-color-l) - var(--active-color-darken-percentage)), var(--active-color-a));
  --active-color-complement: hsla(calc(var(--active-color-h) + 180), var(--active-color-s), var(--active-color-l), var(--active-color-a));
  --active-color-triad1: hsla(calc(var(--active-color-h) + 120), var(--active-color-s), var(--active-color-l), var(--active-color-a));
  --active-color-triad2: hsla(calc(var(--active-color-h) + 240), var(--active-color-s), var(--active-color-l), var(--active-color-a));
  --active-color-switch: calc((var(--active-color-l) - var(--active-color-contrast-threshold)) * -100);
  --active-color-mix: hsla(0, 0%, var(--active-color-switch), var(--active-color-a));
}