@use '../../../theme' as theme;

.Input {
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.375rem;
  transition: all 150ms ease-in-out;
  cursor: pointer;

  &.primary {
    background-color: theme.$secondary-color;
    color: theme.$text-color;

    &:hover {
      background-color: darken(theme.$secondary-color, 30%);
      outline: none;
      box-shadow: 0 0 0 3px theme.$focus-color;
      border-color: theme.$border-color;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px theme.$focus-color;
      border-color: theme.$border-color;
    }

    &:active {
      background-color: darken(theme.$secondary-color, 30%);
      border-color: theme.$border-color;
    }
  }

  &.secondary {
    background-color: theme.$primary-color;
    color: theme.$text-color;

    &:hover {
      background-color: lighten(theme.$primary-color, 5%);
      outline: none;
      box-shadow: 0 0 0 3px theme.$focus-color;
      border-color: theme.$border-color;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px theme.$focus-color;
      border-color: theme.$border-color;
    }

    &:active {
      background-color: lighten(theme.$primary-color, 5%);
      border-color: theme.$border-color;
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}