@import '../../../theme.css';

.Input {
  background-color: var(--primary-color);
  filter: brightness(1.3);
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.375rem;
  transition: all 150ms ease-in-out;
  cursor: pointer;
  border-color: var(--border-color);
}
.Input.primary {
  background-color: rgb(217, 217, 217);
  color: #1a1a1a;
}
.Input.primary:hover {
  background-color: var(--secondary-color);
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: var(--border-color);
}
.Input.primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: var(--border-color);
}
.Input.primary:active {
  border-color: var(--border-color);
}
.Input.secondary {
  background-color: var(--primary-color);
  color: rgb(229, 229, 229);
}
.Input.secondary:hover {
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: var(--border-color);
}
.Input.secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: var(--border-color);
}
.Input.secondary:active {
  border-color: var(--border-color);
}
.Input[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
