@use '../../theme' as theme;

.ModalContainer {
  background-color: lighten(theme.$secondary-color, 30%);
  position: fixed;
  top: 5%;
  left: 25%;
  height: 90%;
  width: 50%;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0.5rem;
  padding: 15px;
  
}

.ModalInner {
  position: relative;
  width: 100%;
  box-shadow: none;
}

.ModalContent {
  width: auto;
  box-shadow: none;
  background-color: #afafaf;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}