@import '../../../theme.css';

.Textarea {
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.375rem;
  width: calc(100% - 2rem - 2px) !important;
  resize: vertical;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.Textarea.primary {
  background-color: rgb(217, 217, 217);
  color: #1a1a1a;
}
.Textarea.primary:hover {
  background-color: ligthen(rgb(217, 217, 217), 30%);
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: rgb(114, 113, 113);
}
.Textarea.primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: rgb(114, 113, 113);
}
.Textarea.primary:active {
  background-color: #8d8d8d;
  border-color: rgb(114, 113, 113);
}
.Textarea.secondary {
  background-color: rgb(38, 38, 38);
  color: rgb(229, 229, 229);
}
.Textarea.secondary:hover {
  background-color: #191919;
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: rgb(114, 113, 113);
}
.Textarea.secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(141, 141, 141, 0.5);
  border-color: rgb(114, 113, 113);
}
.Textarea.secondary:active {
  background-color: #191919;
  border-color: rgb(114, 113, 113);
}
.Textarea[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
